body {
  background: url("../images/1.jpg") no-repeat center center fixed;
  background-size: cover;
}
nav {
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: row-reverse;
  border-bottom: none;
  a {
    margin-right: 7vw;
  }
  a:hover {
    text-decoration: underline;
  }
  i {
    line-height: 53px !important;
  }
}
.rest-body {
  text-align: center;
  margin-top: 150px !important;
  h3 {
    color: #ffffff;
  }
}
.search-bar {
  width: 50vw;
  margin: 0 auto 0 auto;
  background: #ffffff;
  text-decoration: none !important;
  input {
    border-bottom: none !important;
    text-align: center;
    font-size: 1.7rem !important;
  }
  height: 7vh;
  border-radius: 300px;
}
form {
  display: flex;
}
.submit-button {
  height: 7vh;
  background: #d98d45;
  width: 100px;
  border-bottom-right-radius: 300px;
  border-top-right-radius: 300px;
}
